PORT=4000
NODE_ENV=development
SUPABASE_URL=https://tyuzejfqvnkvdljfoiyp.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR5dXplamZxdm5rdmRsamZvaXlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3NzU2MDQsImV4cCI6MjA5MTM1MTYwNH0.LLOm5gOjYYcNQrDZtud4HzPYZztMPUYOV_cZMVbQarU
SUPABASE_SERVICE_ROLE=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR5dXplamZxdm5rdmRsamZvaXlwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTc3NTYwNCwiZXhwIjoyMDkxMzUxNjA0fQ.5ktWklY-ZAFskdGkt7Pt0IFt-1z15KF-6b9cBnbw2yo
